<launch>

<node pkg="practical_sensors" type="tick_publisher" name="tick_publisher"/>

<node pkg="practical_nav" type="simple_diff_drive" name="simple_diff_drive"/>

<node pkg="practical_localization" type="encoder_odom_publisher"
name="encoder_odom_publisher"/>

<node pkg="practical_nav" type="simple_drive_controller"
name="simple_drive_controller">
  <remap from="waypoint_2d" to="goal_2d" />
</node>

<node pkg="practical_localization" type="manual_pose_and_goal_pub"
name="manual_pose_and_goal_pub" output="screen" />

</launch>
